/* FLOATING BUTTON --------------------------------------*/

.floating-button{
  right: 20px;
  z-index: 80;
  bottom: 20px;
  position: fixed;

}

.container-floating-button{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 70px;
  width: 70px;
  position: relative;
  cursor: pointer;
  text-decoration: none;

  background-color: #080808;
  border-radius: 100%;

  box-shadow: 0px 0px 10px #0000008e;
}

.container-floating-button::after{
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 100%;
  
  background-color: #FFCA57;
  z-index: -1;
  transform: scale(.5);

  animation-name: floating-button;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.container-floating-button::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #FFCA57;
  z-index: -1;
  transform: scale(.5);

  animation-name: floating-button;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: .4s;
}

.container-floating-button > img{
  width: 100%;
  max-width: 30px;
}

/* FLOATING BUTTON | KEY FRAMES -------------------------*/

@keyframes floating-button{
  0%{
    transform: scale(0);
    opacity: .5;
  }

  50%{
    transform: scale(1);
    opacity: .5;
  }

  100%{
    transform: scale(1.5);
    opacity: 0;
  }
}