/* FOOTER | CONTAINER FOOTER ----------------------------*/

.section-footer{
    background-color: #1a1a1a;
}

.container-footer{
    width: 95%;
    margin: 0 auto;
    max-width: 1500px;
    padding: 5rem 0rem;

    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* FOOTER | CONTAINER BRAND TEXT ------------------------*/

.container-footer > .container-brand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 95%;
    max-width: 500px;
}

.content-brand-text{
    display: flex;
    flex-direction: column;
} 

.content-brand-text > img{
    width: 100%;
    max-width: 70px;
    margin-bottom: 20px;
} 

.content-brand-text > p{
    text-align: start;
    margin-bottom: 0;
} 

/* FOOTER | CONTAINER BRAND SOCIAL ----------------------*/

.content-brand-social{
    display: flex;
    gap: 5px;
    margin-top: 65px;
}

.content-brand-social > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;

    background-color: #ffca5786;
    height: 50px;
    width: 50px;
    border-radius: 3px;

    transition: .4s ease;
}

.content-brand-social > a:hover{
    background-color: #ffca57;
    transform: translateY(-10px);
}

.content-brand-social > a > img{
    width: 100%;
    max-width: 20px;
}


/*-------------------------------------------------------*/

.container-footer > .container-navegation{
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 95%;
    margin: 0 auto;
    max-width: 500px;
}

.container-footer > .container-navegation > h3{
    text-align: start;
    margin-bottom: 20px;
}

.container-footer > .container-navegation > a{
    color: rgba(240, 248, 255, 0.415);
    text-decoration: none;
    transition: .4s ease;
    font-size: 16px;
}

.container-footer > .container-navegation > a:hover{
    color: #FFCA57;
}

/*-------------------------------------------------------*/

.container-footer > .container-contact{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
}

.container-footer > .container-contact > h3{
    text-align: start;
    margin-bottom: 20px;
}

.container-footer > .container-contact > .item-contact{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.container-footer > .container-contact > .item-contact > img{
    width: 100%;
    max-width: 20px;
}

.container-footer > .container-contact > .item-contact > p {
    color: rgba(240, 248, 255, 0.641);
    font-size: 14px;
    margin: 0;
}

/*-------------------------------------------------------*/

.container-footer-copy{
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.062);
    padding: 2rem 0rem;
}   

.container-footer-copy > .container-brand > p {
    width: 95%;
    margin: 0 auto;
    color: rgba(240, 248, 255, 0.33);
    font-size: 12px;
    text-align: center;
}

/*-------------------------------------------------------*/

@media screen and (min-width: 768px){
    .container-footer{
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .container-footer > .container-brand{
        max-width: 500px;
    }

    .container-footer > .container-navegation{
        max-width: 200px;
    }

    .container-footer > .container-contact{
        max-width: 500px;
    }
}

.copy-crisp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #161616;
}

.copy-crisp > p > a{
    margin: 0;
    font-size: 12px;
    color: #FFCA57;
    text-transform: uppercase;
    text-decoration: none;
}