/* COMPONENT TOP NAVEGATION BAR -------------------------*/

.top-navbar{
  width: 100%;
  transition: .4s ease;

  z-index: 50;
  position: fixed;
  
  transform: translateY(-40px);
}

.top-navbar.active{
  background-color: #080808;
}

/* TOP NAVEGATION | CONTAINER HEADER --------------------*/

.container-top-navbar-header{
  width: var(--width-container-1);
  height: 40px;
  margin: 0 auto;

  display: flex;
}

/* TOP NAVEGATION | CONTENT CONTACT ---------------------*/

.container-top-navbar-header > .content-contact{
  height: 100%;
  width: 100%;

  display: none;
  align-items: center;
  gap: 30px;
}

.container-top-navbar-header > .content-contact > .contact-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.container-top-navbar-header > .content-contact > .contact-info > img{
  width: 100%;
  max-width: 20px;
}

.container-top-navbar-header > .content-contact > .contact-info > p{
  color: #FFCA57;
  font-size: 14px;
}

.container-top-navbar-header > .content-contact > .contact-info:nth-child(2) > p{
  margin-top: -2px;
}

/* TOP NAVEGATION | CONTENT NETWORK ---------------------*/

.container-top-navbar-header > .content-social-network{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: end;
  gap: 5px;
}

.container-top-navbar-header > .content-social-network > .social-item{
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .4s ease;
}

.container-top-navbar-header > .content-social-network > .social-item > img{
  width: 100%;
  max-width: 18px;
}

.container-top-navbar-header > .content-social-network > .social-item:nth-child(4) > img{
  max-width: 23px;
}

/* TOP NAVEGATION | CONTAINER MAIN ----------------------*/

.container-top-navbar-main{
  width: var(--width-container-1);
  height: 80px;
  margin: 0 auto;

  display: flex;
  transition: .4s ease;
  justify-content: space-between;

  border-bottom: 1px solid #ffffff3b;
}

.top-navbar.active > .container-top-navbar-main{
  border-bottom: none;
}

/* TOP NAVEGATION | CONTENT BRAND -----------------------*/

.container-top-navbar-main > .content-brand{
  width: 100%;
  height: 100%;
  max-width: 100px;

  display: flex;
  align-items: center;
}

.container-top-navbar-main > .content-brand > img{
  width: 100%;
  max-width: 45px;
}

/* TOP NAVEGATION | CONTENT LINKS -----------------------*/

.container-top-navbar-main > .content-links{
  height: 100%;
  width: 100%;

  display: none;
  justify-content: center;
}

.container-top-navbar-main > .content-links > .item-link{
  position: relative;
  text-decoration: none;
  color: #ffffff70;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  transition: .4s ease;
}

.container-top-navbar-main > .content-links > .item-link:hover{
  color: #fff;
}

.container-top-navbar-main > .content-links > .item-link::after{
  content: "";
  position: absolute;
  background-color: #FFCA57;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;

  transition: .4s ease;
}

.container-top-navbar-main > .content-links > .item-link:hover::after{
  width: 100%;
}

/* TOP NAVEGATION | CONTENT MENU ------------------------*/

.container-top-navbar-main > .content-menu{
  width: 100%;
  height: 100%;
  max-width: 100px;
}

.container-top-navbar-main > .content-menu > .button-menu{
  display: flex;
  align-items: center;
  justify-content: end;

  width: 100%;
  height: 100%;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.container-top-navbar-main > .content-menu > .button-menu > img{
  width: 100%;
  max-width: 35px;
  margin-right: -5px;
}

/* @MEDIA SCREEN AND | 992PX ----------------------------*/

@media screen and (min-width: 992px){
  .container-top-navbar-header > .content-contact{
    display: flex;
  }

  .container-top-navbar-main > .content-links{
    display: flex;
  }

  .container-top-navbar-main{
    height: 80px;
  }

  .container-top-navbar-main > .content-brand > img{
    max-width: 65px;
  }
}

@media screen and (max-width: 992px){
  .top-navbar.active > .container-top-navbar-main{
    height: 80px;
  }
}
