/* SECTION 02 | BENEFITS --------------------------------*/

.section-02{
  background: var(--primary-color-2);
  width: 100%;
  padding: 3rem 0rem;

  border: var(--border-section);
}
  
/* SECTION 02 | CONTAINER SECTION -----------------------*/
  
.container-section-02{
  width: var(--width-container-1);
  max-width: var(--max-width-container-1);
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  
  align-items: center;
  justify-content: center;

  border: var(--border-container);
}
  
/* SECTION 02 | CARD BENEFITS ---------------------------*/
  
.card-benefits{
  border: 1px solid #ffffff11;
  border-bottom: 2px solid #FFCA57;
  background: transparent;
  
  width: 95%;
  margin: 0 auto;
  min-height: 400px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  padding: 15px;
}
  
.card-benefits > img{
  width: 100%;
  max-width: 65px;
  margin-bottom: 15px;

  border: var(--border-container-item);
}
  
.card-benefits > .subtitle-03{
  text-align: justify;
  min-height: 120px;
}
  
/*-------------------------------------------------------*/
  
@media screen and (min-width: 600px){
  
  .section-02{
    padding: 65px 0rem;
  }
  
  .container-section-02{
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .card-benefits{
    width: 100%;
  }

  .card-benefits > .subtitle-03{
    min-height: 155px;
  }
}

@media screen and (min-width: 713px){
  .card-benefits > .subtitle-03{
    min-height: 120px;
  }
}
  
@media screen and (min-width: 992px){
  
  .container-section-02{
    display: flex;
    gap: 5px;
  }
  
  .card-benefits{
    width: 100%;
    margin: 0;
    max-width: 350px;
  }

  .card-benefits > .subtitle-03{
    min-height: 180px;
  }
}

@media screen and (min-width: 1230px){
  .card-benefits > .subtitle-03{
    min-height: 150px;
  }
}
