/* SECTION 01 | HOME ------------------------------------*/

.section-01{
  background: linear-gradient(#000000c5, #000000c5), url(../../assets/img/background/bg-home.jpg);
  background-position: center;
  background-size: cover;

  width: 100%;
  min-height: 100vh;
  max-height: 800px;
  display: flex;
}


/* SECTION 01 | CONTAINER SECTION -----------------------*/
  
.container-section-01{
  width: var(--width-container-1);
  max-width: var(--max-width-container-1);
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: center;

}
  
/* SECTION 01 | CONTAINER TEXT --------------------------*/
  
.container-section-01 > .container-text{
  align-items: center;
}

.content-home-brand{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 25px;
  gap: 15px;
  width: 100%;

  border: var(--border-container-item);
}

.content-home-brand > img{
  width: min(150px, 30vw);
}

.content-home-brand > .title-01{
  width: auto;
  margin-bottom: 0;
  text-align: center;
}

.container-section-01 .subtitle-01{
  text-align: center;
}

.container-section-01 .container-buttons{
  justify-content: center;
}

/* @MEDIA -----------------------------------------------*/

@media screen and (min-width: 768px){
  .section-01{
    padding-top: 0px;
    display: flex;
    align-items: center;
  }

  .content-home-brand{
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .content-home-brand > img{
    width: 100%;
    max-width: 150px;
  }
  
  .content-home-brand > .title-01{
    text-align: start;
    line-height: .8;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1024px){

  .content-home-brand{
    flex-direction: row;
  }

  .content-home-brand > .title-01{
    line-height: 1.4;
    border-left: 1px solid rgba(255, 255, 255, 0.062);
  }

  .container-section-01 .container-buttons > .default-button-solid,
  .container-section-01 .container-buttons > .default-button-contoured{
    max-width: 280px;
  }
}