/* COMPONENT SIDE MENU | CONTENT -------------------------*/

#after-container-side-menu{
  background-color: rgba(0, 0, 0, 0.671);
  position: fixed;
  z-index: 98;

  width: 100%;
  height: 100vh;

  display: none;
}

#after-container-side-menu.active{
  display: block;
}

/* COMPONENT SIDE MENU ----------------------------------*/

.side-menu{
  width: 100%;
  height: 100vh;
  max-width: 400px;

  right: 0;
  z-index: 99;
  position: fixed;

  transition: .4s ease;
  transform: translateX(400px);
}

.side-menu.active{
  transform: translateX(0px);
}

/* COMPONENT SIDE MENU | SIDE MENU -----------------------*/

.container-side-menu{
  width: 100%;
  height: 100%;
  max-width: 400px;

  right: 0;
  z-index: 2;
  position: absolute;
  padding: 2rem;

  background-color: #080808;
}

/* CONTENT SIDE MENU -------------------------------------*/

.container-side-menu > .content-header{
  height: 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-side-menu > .content-header > img{
  width: 100%;
  max-width: 60px;
}

.container-side-menu > .content-header > button{
  height: 100%;
  width: 100%;
  
  border: none;
  background-color: transparent;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: end;
}

.container-side-menu > .content-header > button > img{
  width: 100%;
  max-width: 20px;
}

/* CONTENT SIDE MENU -------------------------------------*/

.container-side-menu > .content-main{
  height: 80%;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  border-top: 1px solid rgba(255, 255, 255, 0.11);
}

.container-side-menu > .content-main > .item-link{
  text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.603);
  width: 100%;
  padding: 15px;

  position: relative;

  transition: .3s ease;
}

.container-side-menu > .content-main > .item-link:hover{
  color: #FFCA57;
}

.container-side-menu > .content-main > .item-link::after{
  content: "";
  position: absolute;
  background-color: #FFCA57;

  bottom: 0;
  left: 0;

  width: 0;
  height: 2px;

  transition: .3s ease;
}

.container-side-menu > .content-main > .item-link:hover::after{
  width: 100%;
}

/* CONTENT SIDE MENU -------------------------------------*/

.container-side-menu > .content-footer{
  height: 12%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.container-side-menu > .content-footer > .social-item{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-side-menu > .content-footer > .social-item > img{
  width: 100%;
  max-width: 25px;
}

.container-side-menu > .content-footer > .social-item:nth-child(3) > img{
  max-width: 30px;
}
