/* SECTION 05 | ABOUT -----------------------------------*/

.section-05{
  width: 100%;
  padding: 5rem 0rem;
  border: var(--border-section);
}

/* SECTION 05 | CONTAINER SECTION -----------------------*/

.container-section-05{
  height: 100%;
  width: 100%;
  max-width: var(--max-width-container-1);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  border: var(--border-container);
}

/* SECTION 05 | CONTAINER TEXT --------------------------*/

.container-section-05 > .container-text{
  width: 90%;
  max-width: var(--max-width-container-2);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: var(--border-container-item);
}

.container-section-05 > .container-text > .subtitle-02{
  text-align: justify;
  margin-bottom: 15px;
}

/* SECTION 05 | CONTAINER IMG ---------------------------*/

.carouselExampleInterval{
  width: 100%;

  border: 1px solid red;
}

.carousel-inner{
  max-width: 700px;

}

.carousel-item{
  max-width: 700px;
}

/* SECTION 05 | MEDIA SCREEN ----------------------------*/

@media screen and (min-width: 992px){
  .section-05{
    padding: 0;
  }

  .container-section-05{
    flex-direction: row;
    gap: 0;
  }

  .container-section-05 > .container-text{
    min-height: 700px;
    padding: 0px 15px;
  }

  .container-section-05 > .container-text > .description-02,
  .container-section-05 > .container-text > .title-02{
    text-align: start;
  }

  .container-section-05 > .container-img{
    height: 100%;
    min-height: 700px;
  }

  .container-section-05 > .container-img > img{
    max-width: 700px;
  }
}


