/* SECTION 08 | CONTAINER SECTION -----------------------*/

.section-08{
    padding: 5rem 0;
}

.container-section-08{
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

/* SECTION 08 | CONTAINER SECTION -----------------------*/

.container-section-08 > .container-localization{
    width: 100%;
    height: 250px;
    order: 2;
}

.container-section-08 > .container-localization > iframe{
    width: 100%;
    height: 100%;
}

/* SECTION 08 | CONTAINER SECTION -----------------------*/

.container-section-08 > .container-info{
    width: 95%;
    margin: 0 auto 65px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    order: 1;
}

.container-section-08 > .container-info > .content-text > .subtitle-02{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: justify;
}

.container-section-08 > .container-info > .content-text > .container-buttons{
    justify-content: center;
    margin-bottom: 15px;
}

.container-section-08 > .container-info > .item-contact{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    display: flex;
    align-items: center;

    gap: 10px;
    margin-bottom: 10px;
}

.container-section-08 > .container-info > .item-contact > p{
    font-size: min(4vw, 14px);
    margin: 0;
}

.container-section-08 > .container-info > .item-contact > img{
    width: 100%;
    max-width: 25px;
}

/* SECTION 08 | CONTAINER SECTION -----------------------*/

@media screen and (min-width: 992px){
    .container-section-08{
        flex-direction: row;
        align-items: center;
        width: 95%;
    }

    .container-section-08 > .container-localization{
        height: 500px;
        order: 1;
    }

    .container-section-08 > .container-info{
        padding: 15px;
        margin-bottom: 0;
        order: 2;
    }

}