/* SECTION 04 | SERVICES --------------------------------*/

.section-04{
  width: 100%;
  border: var(--border-section);
}

/* SECTION 04 | CONTAINER SECTION -----------------------*/

.container-section-04{
  display: grid;
  grid-template-columns: 1fr;
  border: var(--border-container);
}

/* SECTION 04 | CARD SERVICE ----------------------------*/

.card-service{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 60px 15px;

  border: var(--border-container-item);
  border-bottom: 1px solid rgba(255, 255, 255, 0.312);
}

.card-service > img{
  width: 100%;
  max-width: 80px;
  margin-bottom: 15px;
}

.card-service > .title-03{
  max-width: 350px;
}

.card-service > .subtitle-03{
  text-align: justify;
  max-width: 350px;
  min-height: 250px;
}

.card-service:nth-child(1){
  background: linear-gradient(#000000e7, #000000e7) ,url(../../assets/img/background/bg-service-02.jpg);
  background-size: cover;
  background-position: center;
}

.card-service:nth-child(2){
  background: linear-gradient(#000000e7, #000000e7) ,url(../../assets/img/background/bg-service-03.png);
  background-size: cover;
  background-position: center;
}

.card-service:nth-child(3){
  background: linear-gradient(#000000e7, #000000e7) ,url(../../assets/img/background/bg-service-01.jpg);
  background-size: cover;
  background-position: center;
}

.card-service:nth-child(4){
  background: linear-gradient(#000000e7, #000000e7) ,url(../../assets/img/background/bg-service-04.jpg);
  background-size: cover;
  background-position: center;
}

.card-service > .divider{
  width: 60%;
  height: 3px;
  border-radius: 5px;
  background-color: #FFCA57;
  margin-top: 35px;
}

/*-------------------------------------------------------*/

@media screen and (min-width: 600px){
  .container-section-04{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px){
  .container-section-04{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card-service > .subtitle-03{
    min-height: 360px;
  }
}

@media screen and (min-width: 1200px){
  .card-service > .subtitle-03{
    min-height: 290px;
    max-width: 300px;
  }

  .card-service > .title-03{
    max-width: 300px;
  }

}